@mixin clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

@mixin absoluteCenter($top, $left) {
    position: absolute;
    top: $top;
    left: $left;
    transform: translate(-50%, -50%);
}


/*
Media Queries
0 - 600px Phone
600px - 900px Tablet Portrait
900px - 1200px  Tablet Landscape
1200px - 1800px Normal Desktop
1800px + Big Desktop
*/

/*
breakpoint argument choices
- phone
- tab-port
- tab-land
- big-desktop
*/

// ORDER: base + typography > general layout > page layout > components

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 37.5em) {    // 600px
            @content
        }
    }
    @if $breakpoint == tab-port {       // 900px
        @media (max-width: 56.25em) {
            @content
        }
    }
    @if $breakpoint == tab-land {       // 1200px
        @media (max-width: 75em) {
            @content
        }
    }
    @if $breakpoint == big-desktop {     //1800px
        @media (min-width: 112.5em) {
            @content
        }
    }
}